@import "./button.css";
@import "./header.css";
@import "./button-icon.css";
@import "./hero.css";
@import "./wrapper.css";
@import "./menu.css";
@import "./personal.css";
@import "./testimonios.css";
@import "./projects.css";
@import "./footer.css";
@import "./formulario.css";

:root {
  --fontBase: 'Poppins', sans-serif;
  --headline1: bold 5.938rem/9.607rem var(--fontBase);
  --headline2: bold 3.688rem/5.966rem var(--fontBase);
  --headline3: bold 3.688rem/4.854rem var(--fontBase);
  --headline4: bold 2.125rem/3.438rem var(--fontBase);
  --headline5: bold 1.5rem/2.427rem var(--fontBase);
  --body1: 1rem/1.618rem var(--fontBase);
  --body2: 0.875rem/1.416rem var(--fontBase);
  --body3: 400 2.125rem/3.4382500648498535rem var(--fontBase);
  --body4: 400 1.5rem/2.427000045776367rem var(--fontBase);
  --body5: 700 1rem/1.6180000305175781rem var(--fontBase);
  --button: bold 0.875rem/1.416rem var(--fontBase);
  --caption: 0.75rem/1.214rem var(--fontBase);
  --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
  --purple: #310A90;
  --green: #42E2B8;
  --white: white;
}

body {
  background: var(--gradient);
  min-block-size: 100vh;
  font: var(--body1);
  color: var(--purple);
}